*{
    margin: 0;
    padding:0;
}
h1{
    color:blue;
    background-color: black;
}
h2{
    color: chartreuse;
    background-color: brown;
}

h3{
    color: white;
    background-color: red;
}
p{
    color:cyan;
    background-color: darkblue
}